# Introduction to Conditional  Probability

Let's recreate our data matrix from last class (recall the filename is 'TIA_1987_2016_with_dates.csv' and we grabbed January 1987, the first month in the file):

In [6]:
import pandas as pd
df = pd.read_csv('TIA_1987_2016_with_dates.csv', index_col = 0, parse_dates = True)
jan87 = df.head(31).copy()
jan87[jan87.Dewpt >= 30]

            Dewpt    AWS  Pcpn  MaxT  MinT
Date
1987-01-05   33.4  12.97  0.09  63.0  44.0
1987-01-06   37.7   4.25  0.00  62.0  39.0
1987-01-07   34.9   6.71  0.00  63.0  36.0
1987-01-08   34.9   6.71  0.00  56.0  37.0
1987-01-09   31.0   5.59  0.00  54.0  28.0
1987-01-16   33.5   5.14  0.37  44.0  29.0
1987-01-31   36.0   7.16  0.03  54.0  42.0

What is the probability that it rained or snowed at TIA in January of 1987 given that the dewpoint was at least 30?

How did you figure that out?  What do we call the quantities that you used?

<font color=green>__Conditional Probability:__</font> Given events _A_ and *B</t>*, we write P(*A</t>* | *B</t>*) as the symbol for 'the conditional probability of *A</t>* given *B</t>*'.  In other words, the conditional probability of *A</t>* assuming that *B</t>* has actually occurred.  Thinking about what we just did, define *A</t>* and *B</t>* for our example.  Write a formula for P(*A</t>* | *B</t>*) in terms of frequencies of *A</t>* and *B</t>* using our example as a template.

What happens if you divide both numerator and denominator of the right-hand side by _N_?  (What does *N* stand for? What is it in this example?)  Rewrite the formula in terms of these new derived quantities.

Suppose we are interested in the dewpoint-precip relationship for all Januaries.  What is the data for January, 1987?  What have we calculated about all Januaries?  How can we improve it?  What confounding factors are there?

Use Python to calculate the conditional probability using both formulae.

In [2]:
B = jan87[jan87.Dewpt >= 30]
B

In [6]:
A_and_B = B[B.Pcpn > 0]
A_and_B

            Dewpt    AWS  Pcpn  MaxT  MinT
Date
1987-01-05   33.4  12.97  0.09  63.0  44.0
1987-01-16   33.5   5.14  0.37  44.0  29.0
1987-01-31   36.0   7.16  0.03  54.0  42.0

In [7]:
A_and_B_also = jan87[(jan87.Dewpt >= 30) & (jan87.Pcpn > 0)]
A_and_B_also

            Dewpt    AWS  Pcpn  MaxT  MinT
Date
1987-01-05   33.4  12.97  0.09  63.0  44.0
1987-01-16   33.5   5.14  0.37  44.0  29.0
1987-01-31   36.0   7.16  0.03  54.0  42.0

In [8]:
len(A_and_B_also) / len(B)

0.42857142857142855

## <font color=blue> Exercises

1. Write code that makes a new frame containing the data for December, 2004 from our example frame. What is the estimated probability that the maximum temperature for the day is over 60 if the minimum was over 30 on any given December day in Tucson? What is the conditional probability that the minimum temperature was over 30 given that max was over 60? Is it always true that $P(A | B) == P(B | A)$?

2. Write a function called `get_P` that takes a frame, an attribute, a cutoff, another attribute, and another cutoff. It should return the conditional probability that the first attribute is greater than the first cutoff given that the second attribute is greater than the second cutoff.